{
    "presets": [
        [
            "latest",
            {
                "es2015": {
                    "loose": true
                }
            }
        ],
        "react",
        "stage-0"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        [
            "import",
            {
                "style": true,
                "libraryName": "antd-mobile"
            }
        ],
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": true, // 兼容低版本浏览器不支持ES6语法
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ]
    ]
}